/* --- --- Icono de Redes --- --- */
* .cont-facebook {
  display: inline-block;
  padding: 6px 11px;
  border-radius: 1000px;
  background-color: #c9cdcf;
  cursor: pointer;
  transition: background 0.3s linear;
}
* .cont-facebook i {
  font-size: 14px;
  color: #fff;
}
* .cont-facebook:hover {
  background-color: #3b5998;
}
* .cont-pinterest {
  display: inline-block;
  padding: 6px 11px;
  border-radius: 1000px;
  background-color: #c9cdcf;
  cursor: pointer;
  transition: background 0.3s linear;
}
* .cont-pinterest i {
  font-size: 14px;
  color: #fff;
}
* .cont-pinterest:hover {
  background-color: #E60023;
}
* .cont-twitter {
  display: inline-block;
  padding: 6px 8px;
  border-radius: 1000px;
  background-color: #c9cdcf;
  cursor: pointer;
  transition: background 0.3s linear;
}
* .cont-twitter i {
  font-size: 14px;
  color: #fff;
}
* .cont-twitter:hover {
  background-color: #00acee;
}
* .cont-instagram {
  display: inline-block;
  padding: 6px 9px;
  border-radius: 1000px;
  background-color: #c9cdcf;
  cursor: pointer;
  transition: background 0.3s linear;
}
* .cont-instagram i {
  font-size: 14px;
  color: #fff;
}
* .cont-instagram:hover {
  background-color: #b0238f;
}
* .cont-mail {
  display: inline-block;
  padding: 6px 8px;
  border-radius: 1000px;
  background-color: #c9cdcf;
  cursor: pointer;
  transition: background 0.3s linear;
}
* .cont-mail i {
  font-size: 14px;
  color: #fff;
}
* .cont-mail:hover {
  background-color: #555;
}

/* --- --- Reset --- --- */
* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
* body {
  background-color: #f3f5f6;
}
* main {
  width: 100%;
}
* li {
  list-style: none;
}
* a {
  color: #000;
  text-decoration: none;
}
* input {
  outline: none;
}
* button {
  border: none;
}
* i {
  font-size: 23px;
  color: #fff;
}

/* --- --- Header --- --- */
header {
  max-width: 100%;
  background-color: #1e2d7d;
  position: relative;
}
header #header__navigation-links-input {
  display: none;
}
header #header__navigation-search-input {
  display: none;
}
header .navigation {
  width: 95%;
  margin: auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .navigation .navigation__navigation-links-label {
  display: none;
}
header .navigation .navigation__brand {
  flex-basis: 11%;
  min-width: 142.734px;
  flex-shrink: 0;
}
header .navigation .navigation__brand img {
  max-width: 100%;
  display: block;
}
header .navigation .navigation__search {
  flex-basis: 69%;
  flex-shrink: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .navigation .navigation__search .navigation-search__cont-input {
  flex-basis: 93%;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
header .navigation .navigation__search .navigation-search__cont-input .navigation-search__input {
  width: 94%;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 500;
  color: #677279;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
header .navigation .navigation__search .navigation-search__cont-input .navigation-search__icon {
  width: 6%;
  min-width: 46.547px;
  padding: 10px 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #00badb;
}
header .navigation .navigation__search .navigation-search__cont-input .navigation-search__icon i {
  margin: 0 12px;
  cursor: pointer;
}
header .navigation .navigation__user {
  flex-basis: 20%;
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .navigation .navigation__user .navigation-user__navigation-search-label {
  display: none;
}
header .navigation .navigation__user .navigation-user__account {
  flex-basis: 50%;
}
header .navigation .navigation__user .navigation-user__account .navigation-user-account__a-icon {
  display: none;
}
header .navigation .navigation__user .navigation-user__account .navigation-user-account__a {
  font-size: 18px;
  color: #fff;
}
header .navigation .navigation__user .navigation-user__cart {
  flex-basis: 50%;
  flex-shrink: 0;
}
header .navigation .navigation__user .navigation-user__cart .navigation-user-cart__a-icon {
  display: none;
}
header .navigation .navigation__user .navigation-user__cart .navigation-user-cart__a {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .navigation .navigation__user .navigation-user__cart .navigation-user-cart__a .navigation-user-cart-a__text {
  margin: 0 20px 0 0;
  font-size: 18px;
  color: #fff;
}
header .navigation__search--responsive {
  width: 100%;
  padding: 0 0 13px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #1e2d7d;
  display: none;
  animation: aparecerTop 0.3s ease-out 1 normal none;
}
@keyframes aparecerTop {
  0% {
    transform: translateY(-90%);
    z-index: -1;
  }
  100% {
    transform: translateY(0);
    z-index: -1;
  }
}
header .navigation__search--responsive .navigation-search__cont-input--responsive {
  flex-basis: 92%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  animation: aparecer 0.5s linear 1 normal forwards;
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
header .navigation__search--responsive .navigation-search__cont-input--responsive .navigation-search__input--responsive {
  width: 94%;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 500;
  color: #677279;
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
header .navigation__search--responsive .navigation-search__cont-input--responsive .navigation-search__icon--responsive {
  width: 6%;
  min-width: 46.547px;
  padding: 10px 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #00badb;
}
header .navigation__search--responsive .navigation-search__cont-input--responsive .navigation-search__icon--responsive i {
  margin: 0 12px;
  cursor: pointer;
}
header .navigation-links {
  background-color: #fff;
  border-top: 1px solid #e1e3e4;
  border-bottom: 1px solid #e1e3e4;
}
header .navigation-links .navigation-links__ul {
  padding: 20px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
header .navigation-links .navigation-links__ul li {
  margin: 0 43px;
}
header .navigation-links .navigation-links__ul li a {
  color: #677279;
  transition: all 0.2s ease-in;
}
header .navigation-links .navigation-links__ul li a:hover {
  color: #00badb;
}

/* --- --- Responsive Header --- --- */
/* --- Responsive 1275px --- */
@media screen and (max-width: 1275px) {
  header .navigation .navigation__search {
    flex-basis: 77%;
    flex-shrink: 5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .navigation .navigation__user {
    flex-basis: 12%;
    min-width: 108.969px;
    justify-content: center;
    align-items: center;
  }
  header .navigation .navigation__user .navigation-user__account {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .navigation .navigation__user .navigation-user__account .navigation-user-account__a-icon {
    display: block;
  }
  header .navigation .navigation__user .navigation-user__account .navigation-user-account__a {
    display: none;
  }
  header .navigation .navigation__user .navigation-user__cart {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .navigation .navigation__user .navigation-user__cart .navigation-user-cart__a-icon {
    display: block;
  }
  header .navigation .navigation__user .navigation-user__cart .navigation-user-cart__a {
    display: none;
  }
}
/* --- Responsive 995px --- */
@media screen and (max-width: 995px) {
  header {
    background-color: transparent;
  }
  header #header__navigation-links-input:checked ~ .navigation-links {
    display: block;
  }
  header .navigation {
    width: 100%;
    padding: 20px 25.625px;
    margin: 0;
    background-color: #1e2d7d;
  }
  header .navigation .navigation__navigation-links-label {
    display: block;
    flex-basis: 5%;
    min-width: 44.5px;
  }
  header .navigation .navigation__navigation-links-label i {
    cursor: pointer;
  }
  header .navigation .navigation__search {
    flex-basis: 66%;
  }
  header .navigation-links {
    display: none;
    position: relative;
    z-index: 1;
    border: none;
    border-bottom: 1px solid #e1e3e4;
    animation: agrandar 0.2s linear 1 normal none;
  }
  @keyframes agrandar {
    0% {
      transform: translateY(-100%);
      z-index: -1;
    }
    100% {
      transform: translateY(0);
      z-index: -1;
    }
  }
  header .navigation-links .navigation-links__ul {
    padding: 0 0 0 20px;
    flex-direction: column;
    align-items: flex-start;
  }
  header .navigation-links .navigation-links__ul li {
    padding: 20px 0;
    margin: 0;
  }
}
/* --- Responsive 640px --- */
@media screen and (max-width: 640px) {
  header {
    background-color: transparent;
  }
  header #header__navigation-search-input:checked ~ .navigation__search--responsive {
    display: flex;
  }
  header .navigation {
    width: 100%;
    padding: 10px 9px 10px 20px;
    margin: 0;
    background-color: #1e2d7d;
  }
  header .navigation .navigation__brand {
    margin-right: auto;
    min-width: 100px;
  }
  header .navigation .navigation__search {
    display: none;
  }
  header .navigation .navigation__user {
    flex-basis: 25%;
    min-width: 141.969px;
  }
  header .navigation .navigation__user .navigation-user__navigation-search-label {
    display: block;
    flex-basis: 33%;
  }
  header .navigation .navigation__user .navigation-user__navigation-search-label i {
    cursor: pointer;
  }
  header .navigation .navigation__user .navigation-user__account {
    display: block;
    flex-basis: 33%;
  }
  header .navigation .navigation__user .navigation-user__cart {
    display: block;
    flex-basis: 33%;
  }
}
/* --- Responsive 330px --- */
@media screen and (max-width: 330px) {
  header i {
    font-size: 18px;
  }
  header .navigation .navigation__navigation-links-label {
    min-width: 30px;
  }
  header .navigation .navigation__brand {
    min-width: 60px;
  }
  header .navigation .navigation__user {
    min-width: 100px;
  }
}
main h1 {
  font-size: 25px;
  color: #1e2d7d;
  margin-top: 50px;
  margin-left: 20px;
}
main .main-flex-container {
  width: 100%;
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .main-flex-container .product-and-shipping-cont {
  flex-basis: 50%;
}
main .main-flex-container .product-and-shipping-cont .product-flex {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  background-color: #fff;
}
main .main-flex-container .product-and-shipping-cont .product-flex .product-flex__tittle {
  width: 100%;
  padding: 25px 50px 25px 0px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #e1e3e4;
  display: none;
}
main .main-flex-container .product-and-shipping-cont .product-flex .product-flex__tittle .product-flex-tittle__text {
  width: 150px;
  text-align: center;
}
main .main-flex-container .product-and-shipping-cont .product-flex .product-flex__tittle .product-flex-tittle__text p {
  font-size: 18px;
  color: #677279;
}
main .main-flex-container .product-and-shipping-cont .product-flex .product-flex__tittle .product-flex-tittle__total {
  flex-basis: 25.5%;
}
main .main-flex-container .product-and-shipping-cont .product-flex .product-flex__tittle .product-flex-tittle__total p {
  font-size: 18px;
  color: #677279;
}
main .main-flex-container .product-and-shipping-cont .product-flex .product-flex__item {
  width: 100%;
  display: flex;
  align-items: center;
  border-top: 1.5px solid #e1e3e4;
  border-bottom: 1.5px solid #e1e3e4;
}
main .main-flex-container .product-and-shipping-cont .product-flex .product-flex__item:last-child {
  border-top: none;
}
main .main-flex-container .product-and-shipping-cont .product-flex .product-flex__item .product-flex-item__cont-img {
  width: 150px;
  min-width: 150px;
  position: relative;
  padding-bottom: 150px;
}
main .main-flex-container .product-and-shipping-cont .product-flex .product-flex__item .product-flex-item__cont-img img {
  width: 70%;
  height: 70%;
  object-fit: contain;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}
main .main-flex-container .product-and-shipping-cont .product-flex .product-flex__item .product-flex-item__cont-text {
  display: flex;
  flex-direction: column;
}
main .main-flex-container .product-and-shipping-cont .product-flex .product-flex__item .product-flex-item__cont-text .product-flex-item__tittle {
  flex-basis: 50%;
  min-width: 100px;
  max-width: 420px;
  margin-bottom: 10px;
}
main .main-flex-container .product-and-shipping-cont .product-flex .product-flex__item .product-flex-item__cont-text .product-flex-item__tittle a {
  font-size: 17px;
  color: #1e2d7d;
  font-weight: 600;
}
main .main-flex-container .product-and-shipping-cont .product-flex .product-flex__item .product-flex-item__cont-text .product-flex-item__tittle a:hover {
  color: #00badb;
}
main .main-flex-container .product-and-shipping-cont .product-flex .product-flex__item .product-flex-item__cont-text .product-flex-item__price {
  color: #00badb;
  margin-bottom: 10px;
}
main .main-flex-container .product-and-shipping-cont .product-flex .product-flex__item .product-flex-item__cont-text .product-flex-item__remove button {
  font-size: 16px;
  color: #677279;
  background-color: inherit;
  cursor: pointer;
}
main .main-flex-container .product-and-shipping-cont .product-flex .product-flex__item .product-flex-item__cont-text .product-flex-item__remove button:hover {
  color: #00badb;
}
main .main-flex-container .product-and-shipping-cont .shipping-details {
  width: 100%;
  margin-bottom: 20px;
  background-color: #fff;
  border-top: 1.5px solid #e1e3e4;
  border-bottom: 1.5px solid #e1e3e4;
}
main .main-flex-container .product-and-shipping-cont .shipping-details .shipping-details__tittle {
  width: 100%;
  padding: 25px 20px;
  display: flex;
  align-items: center;
  color: #1e2d7d;
}
main .main-flex-container .product-and-shipping-cont .shipping-details .shipping-details__tittle .icon-truck {
  margin-right: 20px;
  color: #1e2d7d;
}
main .main-flex-container .product-and-shipping-cont .shipping-details .shipping-details__tittle p {
  font-size: 15px;
  font-weight: 600;
}
main .main-flex-container .product-and-shipping-cont .shipping-details .shipping-details__tittle label {
  margin-left: auto;
  cursor: pointer;
}
main .main-flex-container .product-and-shipping-cont .shipping-details .shipping-details__tittle label i {
  font-size: 16px;
  color: #1e2d7d;
}
main .main-flex-container .product-and-shipping-cont .shipping-details #shipping-details__input {
  display: none;
}
main .main-flex-container .product-and-shipping-cont .shipping-details #shipping-details__input:checked ~ .shipping-details__expand {
  display: block;
}
main .main-flex-container .product-and-shipping-cont .shipping-details .shipping-details__expand {
  display: none;
  width: 100%;
  padding: 0px 20px;
  position: relative;
}
main .main-flex-container .product-and-shipping-cont .shipping-details .shipping-details__expand #shipping-details-expand__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .main-flex-container .product-and-shipping-cont .shipping-details .shipping-details__expand #shipping-details-expand__form .shipping-details-expand-form__wrapper {
  margin: 10px 0;
}
main .main-flex-container .product-and-shipping-cont .shipping-details .shipping-details__expand #shipping-details-expand__form .shipping-details-expand-form__wrapper:nth-child(2) {
  margin: 10px 0 0 0;
}
main .main-flex-container .product-and-shipping-cont .shipping-details .shipping-details__expand #shipping-details-expand__form .shipping-details-expand-form__wrapper label {
  font-size: 16px;
  color: #677279;
}
main .main-flex-container .product-and-shipping-cont .shipping-details .shipping-details__expand #shipping-details-expand__form .shipping-details-expand-form__wrapper #shipping-details-form__input {
  width: 100%;
  padding: 15px 10px;
  margin-top: 10px;
  font-size: 17px;
  border: 1px solid #e1e3e4;
  border-radius: 5px;
}
main .main-flex-container .product-and-shipping-cont .shipping-details .shipping-details__expand #shipping-details-expand__form .shipping-details-expand-form__wrapper #shipping-details-form__input:focus {
  border: 1px solid #00badb;
  outline: 1px solid #00badb;
}
main .main-flex-container .product-and-shipping-cont .shipping-details .shipping-details__expand #shipping-details-expand__form .shipping-details-expand-form__wrapper-button {
  margin: 30px 0;
}
main .main-flex-container .product-and-shipping-cont .shipping-details .shipping-details__expand #shipping-details-expand__form .shipping-details-expand-form__wrapper-button input {
  padding: 15px 33px;
  font-size: 17px;
  color: #fff;
  background-color: #1e2d7d;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
main .main-flex-container .product-and-shipping-cont .shipping-details .shipping-details__expand #shipping-details-expand__form .shipping-details-expand-form__wrapper-button input:hover {
  filter: brightness(1.2);
}
main .main-flex-container .price-and-payments-cont {
  flex-basis: 50%;
}
main .main-flex-container .price-and-payments-cont .price__container {
  width: 100%;
  margin-bottom: 20px;
  padding: 0px 20px;
  border-top: 1.5px solid #e1e3e4;
  border-bottom: 1.5px solid #e1e3e4;
  background-color: #fff;
}
main .main-flex-container .price-and-payments-cont .price__container .price-container__total {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e1e3e4;
}
main .main-flex-container .price-and-payments-cont .price__container .price-container__total .price-cont__tittle {
  font-size: 17px;
  font-weight: 600;
  color: #1e2d7d;
}
main .main-flex-container .price-and-payments-cont .price__container .price-container__total .price-cont__number {
  font-size: 17px;
  font-weight: 600;
  color: #1e2d7d;
}
main .main-flex-container .price-and-payments-cont .price__container .price-order__cont {
  width: 100%;
  border-bottom: 1px solid #e1e3e4;
}
main .main-flex-container .price-and-payments-cont .price__container .price-order__cont .price-order__text {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .main-flex-container .price-and-payments-cont .price__container .price-order__cont .price-order__text p {
  color: #677279;
}
main .main-flex-container .price-and-payments-cont .price__container .price-order__cont .price-order__text label i {
  font-size: 16px;
  color: #677279;
  cursor: pointer;
}
main .main-flex-container .price-and-payments-cont .price__container .price-order__cont #price-order-expand__input {
  display: none;
}
main .main-flex-container .price-and-payments-cont .price__container .price-order__cont #price-order-expand__input:checked ~ .price-order__expand {
  display: block;
}
main .main-flex-container .price-and-payments-cont .price__container .price-order__cont .price-order__expand {
  display: none;
}
main .main-flex-container .price-and-payments-cont .price__container .price-order__cont .price-order__expand textarea {
  width: 100%;
  height: 200px;
  padding: 10px 15px;
  resize: none;
  line-height: 30px;
  font-size: 17px;
  border: 1px solid #e1e3e4;
  border-radius: 5px;
}
main .main-flex-container .price-and-payments-cont .price__container .price-order__cont .price-order__expand textarea:focus {
  border: 1px solid #00badb;
  outline: 1px solid #00badb;
}
main .main-flex-container .price-and-payments-cont .price__container .price-order__cont .price-order__expand input {
  padding: 14px 33px;
  margin: 10px 0 15px 0;
  font-size: 17px;
  color: #fff;
  background-color: #1e2d7d;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
main .main-flex-container .price-and-payments-cont .price__container .price-order__cont .price-order__expand input:hover {
  filter: brightness(1.2);
}
main .main-flex-container .price-and-payments-cont .price__container .price__checkout {
  width: 100%;
  padding: 20px 0;
}
main .main-flex-container .price-and-payments-cont .price__container .price__checkout button {
  width: 100%;
  padding: 15px 0;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-color: #00badb;
}
main .main-flex-container .price-and-payments-cont .price__container .price__checkout button:hover {
  filter: brightness(1.1);
}
main .main-flex-container .price-and-payments-cont .payments__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .main-flex-container .price-and-payments-cont .payments__container .payments__text {
  margin: 10px 0;
  font-size: 16px;
  font-weight: 600;
  color: #1e2d7d;
}
main .main-flex-container .price-and-payments-cont .payments__container .payments__icons i {
  margin-right: 7px;
  font-size: 25px;
  color: #1e2d7d;
}
main .main-flex-container .price-and-payments-cont .payments__container .payments__icons i:last-child {
  margin-right: 0;
}

/* --- --- Responsive Carrito --- --- */
/* --- --- Responsive 645px --- --- */ /* Carrito */
@media screen and (min-width: 645px) {
  main h1 {
    margin-left: 40px;
  }
  main .main-flex-container {
    padding: 0 40px;
  }
  main .main-flex-container .product-and-shipping-cont .product-flex {
    border-right: 1px solid #e1e3e4;
    border-left: 1px solid #e1e3e4;
  }
  main .main-flex-container .product-and-shipping-cont .product-flex .product-flex__tittle {
    display: flex;
  }
  main .main-flex-container .product-and-shipping-cont .product-flex .product-flex__item .product-flex-item__cont-text {
    padding-right: 50px;
    flex: 1 0 0;
    flex-direction: row;
    justify-content: space-between;
  }
  main .main-flex-container .product-and-shipping-cont .shipping-details {
    border-right: 1px solid #e1e3e4;
    border-left: 1px solid #e1e3e4;
  }
  main .main-flex-container .product-and-shipping-cont .shipping-details .shipping-details__expand #shipping-details-expand__form {
    flex-direction: row;
    justify-content: space-between;
  }
  main .main-flex-container .product-and-shipping-cont .shipping-details .shipping-details__expand #shipping-details-expand__form .shipping-details-expand-form__wrapper {
    flex-basis: 30%;
  }
  main .main-flex-container .product-and-shipping-cont .shipping-details .shipping-details__expand #shipping-details-expand__form .shipping-details-expand-form__wrapper-button {
    flex-basis: 30%;
    margin: 0;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  main .main-flex-container .product-and-shipping-cont .shipping-details .shipping-details__expand #shipping-details-expand__form .shipping-details-expand-form__wrapper-button input {
    flex-basis: 100%;
  }
  main .main-flex-container .price-and-payments-cont .price__container {
    border-right: 1px solid #e1e3e4;
    border-left: 1px solid #e1e3e4;
  }
}
/* --- --- Responsive 955px --- --- */ /* Carrito */
@media screen and (min-width: 995px) {
  main .main-flex-container {
    flex-direction: row;
    justify-content: space-between;
  }
  main .main-flex-container .product-and-shipping-cont {
    flex-basis: 65.5%;
  }
  main .main-flex-container .price-and-payments-cont {
    flex-basis: 32%;
  }
  main .main-flex-container .price-and-payments-cont .price__container .price-container__total {
    padding: 30px 0;
  }
}
/* --- --- Productos Extras --- --- */
main .extra-product-container .extra-product {
  padding: 0 0 0 20px;
  margin: 0 0 50px 0;
}
main .extra-product-container .extra-product .extra-product__text {
  padding-right: 20px;
  margin-bottom: 27px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .extra-product-container .extra-product .extra-product__text .extra-product-text__tittle {
  color: #1e2d7d;
  font-size: 19px;
  font-weight: 600;
}
main .extra-product-container .extra-product .extra-product__text .extra-product-text__see-details a {
  color: #00badb;
}
main .extra-product-container .extra-product .extra-product__products {
  border: 1px solid #e1e3e4;
  border-right: 0;
}
main .extra-product-container .extra-product .extra-product__products .extra-product__cont-cards-scroll {
  overflow-x: scroll;
}
main .extra-product-container .extra-product .extra-product__products .extra-product__cont-cards-scroll .extra-product-cont-cards {
  display: flex;
  flex-wrap: nowrap;
  width: 750%;
  border-bottom: 1px solid #e1e3e4;
}
main .extra-product-container .extra-product .extra-product__products .extra-product__cont-cards-scroll .extra-product-cont-cards .extra-product__card {
  flex-basis: 50%;
  background-color: #fff;
  border-right: 1px solid #e1e3e4;
}
main .extra-product-container .extra-product .extra-product__products .extra-product__cont-cards-scroll .extra-product-cont-cards .extra-product__card .extra-product-card__anchor {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
main .extra-product-container .extra-product .extra-product__products .extra-product__cont-cards-scroll .extra-product-cont-cards .extra-product__card .extra-product-card__anchor .extra-product-card__cont-img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-bottom: 100%;
}
main .extra-product-container .extra-product .extra-product__products .extra-product__cont-cards-scroll .extra-product-cont-cards .extra-product__card .extra-product-card__anchor .extra-product-card__cont-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}
main .extra-product-container .extra-product .extra-product__products .extra-product__cont-cards-scroll .extra-product-cont-cards .extra-product__card .extra-product-card__anchor .extra-product-card__cont-img .img-hover {
  opacity: 0;
  transition: opacity 0.1s linear;
}
main .extra-product-container .extra-product .extra-product__products .extra-product__cont-cards-scroll .extra-product-cont-cards .extra-product__card .extra-product-card__anchor .extra-product-card__cont-img:hover > .img-hover {
  opacity: 1;
}
main .extra-product-container .extra-product .extra-product__products .extra-product__cont-cards-scroll .extra-product-cont-cards .extra-product__card .extra-product-card__anchor .extra-product-card__name {
  font-size: 15px;
  font-weight: 600;
  color: #1e2d7d;
  margin-top: 18px;
  margin-bottom: 18px;
  transition: color 0.2s linear;
}
main .extra-product-container .extra-product .extra-product__products .extra-product__cont-cards-scroll .extra-product-cont-cards .extra-product__card .extra-product-card__anchor .extra-product-card__name:hover {
  color: #00badb;
}
main .extra-product-container .extra-product .extra-product__products .extra-product__cont-cards-scroll .extra-product-cont-cards .extra-product__card .extra-product-card__anchor .extra-product-card__price {
  font-size: 20px;
  color: #00badb;
  margin-bottom: 45px;
}

/* --- --- Responsive Productos Extras --- --- */
/* --- --- Responsive 645px --- --- */ /* Productos Extras */
@media screen and (min-width: 645px) {
  main .extra-product-container .extra-product {
    padding: 0 0 0 40px;
  }
  main .extra-product-container .extra-product .extra-product__text {
    padding-right: 40px;
  }
  main .extra-product-container .extra-product .extra-product__products .extra-product__cont-cards-scroll .extra-product-cont-cards {
    width: 470%;
  }
  main .extra-product-container .extra-product .extra-product__products .extra-product__cont-cards-scroll .extra-product-cont-cards .extra-product__card {
    flex-basis: 30%;
  }
}
/* --- Responsive 1000px --- */ /* Productos Extras */
@media screen and (min-width: 1000px) {
  main .extra-product-container .extra-product {
    padding: 0 40px;
  }
  main .extra-product-container .extra-product .extra-product__text {
    padding-right: 0;
  }
  main .extra-product-container .extra-product .extra-product__products {
    border: 1px solid #e1e3e4;
  }
  main .extra-product-container .extra-product .extra-product__products .extra-product__cont-cards-scroll .extra-product-cont-cards {
    width: 301%;
  }
  main .extra-product-container .extra-product .extra-product__products .extra-product__cont-cards-scroll .extra-product-cont-cards .extra-product__card {
    flex-basis: 50%;
  }
  main .extra-product-container .extra-product .extra-product__products .extra-product__cont-cards-scroll .extra-product-cont-cards .extra-product__card:last-child {
    border-right: 0;
  }
}
/* --- Responsive 1280px --- */ /* Productos Extras */
@media screen and (min-width: 1280px) {
  main .extra-product-container .extra-product .extra-product__products .extra-product__cont-cards-scroll .extra-product-cont-cards {
    width: 240.5%;
  }
  main .extra-product-container .extra-product .extra-product__products .extra-product__cont-cards-scroll .extra-product-cont-cards .extra-product__card {
    flex-basis: 50%;
  }
}
/* --- --- Footer --- --- */
footer {
  max-width: 100%;
}
footer .footer-slider {
  margin: 50px 0;
}
footer .footer-slider .footer-slider__cont-scroll {
  overflow-x: hidden;
}
footer .footer-slider .footer-slider__cont-scroll .footer-slider__container {
  width: 500%;
  display: flex;
  align-items: center;
  animation: transladar 15s linear infinite normal;
}
@keyframes transladar {
  0% {
    transform: translateX(0%);
  }
  11.1111111111% {
    transform: translateX(0%);
  }
  22.2222222222% {
    transform: translateX(-20%);
  }
  33.3333333333% {
    transform: translateX(-20%);
  }
  44.4444444444% {
    transform: translateX(-40%);
  }
  55.5555555556% {
    transform: translateX(-40%);
  }
  66.6666666667% {
    transform: translateX(-60%);
  }
  77.7777777778% {
    transform: translateX(-60%);
  }
  88.8888888889% {
    transform: translateX(-80%);
  }
  100% {
    transform: translateX(-80%);
  }
}
footer .footer-slider .footer-slider__cont-scroll .footer-slider__container .footer-slider-cont {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .footer-slider .footer-slider__cont-scroll .footer-slider__container .footer-slider-cont i {
  font-size: 35px;
  margin-bottom: 20px;
  color: #1e2d7d;
}
footer .footer-slider .footer-slider__cont-scroll .footer-slider__container .footer-slider-cont p {
  line-height: 1.5;
  font-size: 15px;
  font-weight: 600;
  color: #1e2d7d;
}
footer .footer-information {
  max-width: 100%;
  margin: 40px 0;
  border-top: 1px solid #e1e3e4;
  border-bottom: 1px solid #e1e3e4;
}
footer .footer-information .footer-information__item {
  border-bottom: 1px solid #e1e3e4;
  overflow: hidden;
}
footer .footer-information .footer-information__item:last-child {
  border-bottom: 0;
}
footer .footer-information .footer-information__item .footer-information-item__text {
  padding: 25px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 5000;
  background-color: #f3f5f6;
}
footer .footer-information .footer-information__item .footer-information-item__text p {
  color: #1e2d7d;
  font-size: 14px;
  font-weight: 600;
}
footer .footer-information .footer-information__item .footer-information-item__text label {
  cursor: pointer;
}
footer .footer-information .footer-information__item .footer-information-item__text label i {
  font-size: 15px;
  color: #1e2d7d;
  transition: color 0.5s linear;
}
footer .footer-information .footer-information__item .footer-information-item__text label:hover i {
  color: #00badb;
}
footer .footer-information .footer-information__item .footer-information-item__expand {
  padding: 10px 0 10px 20px;
  position: relative;
  z-index: 10;
  display: none;
  animation: transBottom 0.3s linear 1 normal forwards;
}
@keyframes transBottom {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
footer .footer-information .footer-information__item .footer-information-item__expand p {
  color: #677279;
}
footer .footer-information .footer-information__item .footer-information-item__expand ul li {
  margin-bottom: 15px;
}
footer .footer-information .footer-information__item .footer-information-item__expand ul li:last-child {
  margin-bottom: 0;
}
footer .footer-information .footer-information__item .footer-information-item__expand ul li a {
  color: #677279;
  transition: all 0.3s linear;
}
footer .footer-information .footer-information__item .footer-information-item__expand ul li a:hover {
  color: #00badb;
}
footer .footer-information .footer-information__item #expand-first {
  display: none;
}
footer .footer-information .footer-information__item #expand-first:checked ~ .footer-information-item__expand--first {
  display: block;
}
footer .footer-information .footer-information__item #expand-second {
  display: none;
}
footer .footer-information .footer-information__item #expand-second:checked ~ .footer-information-item__expand--second {
  display: block;
}
footer .footer-information .footer-information__item #expand-three {
  display: none;
}
footer .footer-information .footer-information__item #expand-three:checked ~ .footer-information-item__expand--three {
  display: block;
}
footer .footer-redes-container {
  padding-left: 20px;
  margin-bottom: 20px;
}
footer .footer-redes-container .footer-redes__text {
  font-size: 17px;
  color: #a9b0b3;
  margin-bottom: 7px;
}
footer .footer-redes-container .footer-redes {
  max-width: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-logo {
  width: 100%;
  background-color: #1e2d7d;
  padding-left: 20px;
}
footer .footer-logo img {
  width: 25%;
  max-width: 150px;
  display: block;
}

/* --- --- Responsive Footer 640px --- --- */
/* --- Responsive 640px --- */ /* Footer */
@media screen and (min-width: 640px) {
  footer .footer-slider .footer-slider__cont-scroll {
    overflow: visible;
  }
  footer .footer-slider .footer-slider__cont-scroll .footer-slider__container {
    width: 100%;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    animation: none;
  }
  footer .footer-slider .footer-slider__cont-scroll .footer-slider__container .footer-slider-cont {
    flex-basis: 50%;
    padding: 30px 10px;
    flex-direction: row;
    justify-content: flex-start;
  }
  footer .footer-slider .footer-slider__cont-scroll .footer-slider__container .footer-slider-cont--extra {
    display: none;
  }
  footer .footer-slider .footer-slider__cont-scroll .footer-slider__container .footer-slider-cont i {
    flex-basis: 20%;
    max-width: 55px;
    margin-bottom: 0;
    margin-right: 10px;
  }
  footer .footer-slider .footer-slider__cont-scroll .footer-slider__container .footer-slider-cont p {
    flex: 1 0 0;
  }
  footer .footer-information {
    padding: 0;
    margin: 50px 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  footer .footer-information .footer-information__item {
    flex-basis: 40%;
  }
  footer .footer-information .footer-information__item:last-child {
    border-bottom: 0;
  }
  footer .footer-information .footer-information__item .footer-information-item__text {
    padding: 25px 0;
  }
  footer .footer-information .footer-information__item .footer-information-item__text label {
    display: none;
  }
  footer .footer-information .footer-information__item .footer-information-item__expand {
    padding: 10px 0;
    display: block;
  }
  footer .footer-redes-container {
    padding-left: 40px;
  }
}
/* --- Responsive 1000px --- */ /* Footer */
@media screen and (min-width: 1000px) {
  footer .footer-slider .footer-slider__cont-scroll .footer-slider__container .footer-slider-cont {
    padding: 30px 30px 30px 10px;
    flex-basis: 25%;
  }
  footer .footer-information .footer-information__item {
    flex-basis: 33.3333333333%;
    border: 0;
  }
  footer .footer-information .footer-information__item:nth-child(2) {
    flex-basis: 16.6666666667%;
  }
  footer .footer-information .footer-information__item:last-child {
    flex: 1 0 0;
    padding-right: 200px;
  }
}

/*# sourceMappingURL=page-cart.css.map */
