// Main
main {
    h1 {
        font-size: 25px;
        color: $color-azul-oscuro;
        margin-top: 50px;
        margin-left: 20px;
    }
    // Flex Container
    .main-flex-container {
        width: 100%;
        margin: 50px 0;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        // Productos y Shipping
        .product-and-shipping-cont {
            flex-basis: 50%;

            // Flex de productos
            .product-flex {
                display: flex;
                flex-direction: column;

                margin-bottom: 20px;

                background-color: $color-blanco;

                // Textos
                .product-flex__tittle {
                    width: 100%;
                    padding: 25px 50px 25px 0px;

                    display: flex;
                    justify-content: space-between;

                    border-top: 1px solid $color-bordes;

                    display: none;

                    // Producto
                    .product-flex-tittle__text {
                        width: 150px;
                        text-align: center;
                        p {
                            font-size: 18px;
                            color: $color-letra-gris;
                        }
                    }
                    // Total
                    .product-flex-tittle__total {
                        flex-basis: 25.5%;
                        p {
                            font-size: 18px;
                            color: $color-letra-gris;
                        }
                    }
                }

                // Item
                .product-flex__item {
                    width: 100%;

                    display: flex;   
                    align-items: center;

                    border-top: 1.5px solid $color-bordes;
                    border-bottom: 1.5px solid $color-bordes;
                    &:last-child {
                        border-top: none;
                    }

                    // Imagen
                    .product-flex-item__cont-img {
                        width: 150px;
                        min-width: 150px;
                        // margin-left: auto;
                        // margin-right: auto;
                        position: relative;

                        padding-bottom: 150px;
                        img {
                            width: 70%;
                            height: 70%;
                            object-fit: contain;

                            position: absolute;
                            top: 0;
                            right: 0;
                            left: 0;
                            bottom: 0;
                            margin: auto;
                        }
                    }
                    // Contenedor de texto
                    .product-flex-item__cont-text {
                        display: flex;
                        flex-direction: column;
                        // Nombre
                        .product-flex-item__tittle {
                            flex-basis: 50%;
                            min-width: 100px;
                            max-width: 420px;
                            margin-bottom: 10px;                            
                            a {
                                font-size: 17px;
                                color: $color-azul-oscuro;
                                font-weight: 600;
                                &:hover {
                                    color: $color-celeste;
                                }
                            }
                        }
                        // Precio
                        .product-flex-item__price {
                            color: $color-celeste;
                            margin-bottom: 10px;
                        }
                        // Boton
                        .product-flex-item__remove {
                            // button
                            button {
                                font-size: 16px;
                                color: $color-letra-gris;
                                background-color: inherit;
                                cursor: pointer;
                                &:hover {
                                    color: $color-celeste;
                                }
                            }
                        }
                    }
                }
            }

            // Estimar Shipping
            .shipping-details {
                width: 100%;
                margin-bottom: 20px;

                background-color: $color-blanco;

                border-top: 1.5px solid $color-bordes;
                border-bottom: 1.5px solid $color-bordes;

                // Titulo
                .shipping-details__tittle {
                    width: 100%;
                    padding: 25px 20px;

                    display: flex;
                    align-items: center;

                    color: $color-azul-oscuro;

                    // Icono
                    .icon-truck {
                        margin-right: 20px;
                        color: $color-azul-oscuro;
                    }
                    // parrafo
                    p {
                        font-size: 15px;
                        font-weight: 600;
                    }
                    // label
                    label {
                        margin-left: auto;
                        cursor: pointer;
                        i {
                            font-size: 16px;
                            color: $color-azul-oscuro;
                        }
                    }
                } 
                // input checked
                #shipping-details__input {
                    display: none;
                    &:checked {
                        ~ .shipping-details__expand {
                            display: block;
                        }
                    }
                }
                // Expand shipping details
                .shipping-details__expand {
                    display: none;
                    width: 100%;
                    padding: 0px 20px;

                    position: relative;
                    // form
                    #shipping-details-expand__form {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        // Wrapper
                        .shipping-details-expand-form__wrapper {
                            margin: 10px 0;
                            &:nth-child(2) {
                                margin: 10px 0 0 0;
                            }
                            label {        
                                font-size: 16px;
                                color: $color-letra-gris;
                            }
                            #shipping-details-form__input {
                                width: 100%;
                                padding: 15px 10px;
                                margin-top: 10px;
    
                                font-size: 17px;
                                border: 1px solid $color-bordes;
                                border-radius: 5px;
                                &:focus {
                                    border: 1px solid $color-celeste;
                                    outline: 1px solid $color-celeste;
                                }
                            }
                        }
                        // Button
                        .shipping-details-expand-form__wrapper-button {
                            margin: 30px 0;
                            input {
                                padding: 15px 33px;

                                font-size: 17px;
                                color: $color-blanco;
                                background-color: $color-azul-oscuro;
                                border: none;
                                border-radius: 3px;

                                cursor: pointer;
                                &:hover {
                                    filter: brightness(1.2);
                                }
                            }
                        }
                    }
                }
            }
        }
        // Precio y Metodos de pago
        .price-and-payments-cont {
            flex-basis: 50%;

            // Contenedor Precio
            .price__container {
                width: 100%;
                margin-bottom: 20px;
                padding: 0px 20px;

                border-top: 1.5px solid $color-bordes;
                border-bottom: 1.5px solid $color-bordes;
                background-color: $color-blanco;

                // Total
                .price-container__total {
                    width: 100%;
                    padding: 20px 0;

                    display: flex;
                    justify-content: space-between;

                    border-bottom: 1px solid $color-bordes;

                    // Texto
                    .price-cont__tittle {
                        font-size: 17px;
                        font-weight: 600;
                        color: $color-azul-oscuro;
                    }
                    // Numero
                    .price-cont__number {
                        font-size: 17px;
                        font-weight: 600;
                        color: $color-azul-oscuro;
                    }
                }
                // Instructions
                .price-order__cont {
                    width: 100%;

                    border-bottom: 1px solid $color-bordes;

                    // Texto
                    .price-order__text {
                        width: 100%;
                        padding: 20px 0;

                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        p {
                            color: $color-letra-gris;
                        }

                        label {
                            i {
                                font-size: 16px;
                                color: $color-letra-gris;
                                cursor: pointer;
                            }
                        }
                    }
                    // input checked
                    #price-order-expand__input {
                        display: none;
                        &:checked {
                            ~ .price-order__expand {
                                display: block;
                            }   
                        }
                    }
                    // Expand
                    .price-order__expand {
                        display: none;

                        // textarea
                        textarea {
                            width: 100%;
                            height: 200px;
                            padding: 10px 15px;     

                            resize: none;

                            line-height: 30px;
                            font-size: 17px;
                            
                            border: 1px solid $color-bordes;
                            border-radius: 5px;
                            &:focus {
                                border: 1px solid $color-celeste;
                                outline: 1px solid $color-celeste;
                            }
                        }
                        // input
                        input {
                            padding: 14px 33px;
                            margin: 10px 0 15px 0;

                            font-size: 17px;
                            color: $color-blanco;
                            background-color: $color-azul-oscuro;
                            border: none;
                            border-radius: 3px;

                            cursor: pointer;
                            &:hover {
                                filter: brightness(1.2);
                            }
                        }
                    }
                }
                // Boton Checkout
                .price__checkout {
                    width: 100%;
                    padding: 20px 0;

                    button {
                        width: 100%;
                        padding: 15px 0;

                        cursor: pointer;

                        font-size: 16px;
                        font-weight: 600;
                        color: $color-blanco;
                        background-color: $color-celeste;
                        &:hover {
                            filter: brightness(1.1);
                        }
                    }
                }
            }
            // Metodos de pago
            .payments__container {
                display: flex;
                flex-direction: column;
                align-items: center;

                // Texto
                .payments__text {
                    margin: 10px 0;

                    font-size: 16px;
                    font-weight: 600;
                    color: $color-azul-oscuro;
                }
                // Iconos
                .payments__icons {
                    i {
                        margin-right: 7px;
                        font-size: 25px;
                        color: $color-azul-oscuro;
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
        }
    }
}

/* --- --- Responsive Carrito --- --- */
/* --- --- Responsive 645px --- --- *//* Carrito */
@media screen and (min-width:645px) {
    // main
    main {
        h1 {
            margin-left: 40px;
        }
        // Contenedor Flex
        .main-flex-container {
            padding: 0 40px;
            
            // Productos y Shipping
            .product-and-shipping-cont {
                // Flex de productos
                .product-flex {
                    border-right: 1px solid $color-bordes;
                    border-left: 1px solid $color-bordes;
                    // Texto
                    .product-flex__tittle {
                        display: flex;
                    }
                    // Producto Flex
                    .product-flex__item {
                        // Contenedor de texto
                        .product-flex-item__cont-text {
                            padding-right: 50px;

                            flex: 1 0 0;
                            flex-direction: row;
                            justify-content: space-between;
                        }
                    }
                }
                // Estimar Shipping
                .shipping-details {
                    border-right: 1px solid $color-bordes;
                    border-left: 1px solid $color-bordes;
                    // Expand
                    .shipping-details__expand {
                        // form
                        #shipping-details-expand__form {
                            flex-direction: row;
                            justify-content: space-between;
                            // Wrapper
                            .shipping-details-expand-form__wrapper {
                                flex-basis: 30%;
                            }
                            // Button
                            .shipping-details-expand-form__wrapper-button {
                                flex-basis: 30%;
                                margin: 0;
                                padding-bottom: 10px;
                                
                                display: flex;
                                justify-content: center;
                                align-items: flex-end;
                                // button
                                input {
                                    flex-basis: 100%;
                                }
                            }
                        }
                    }
                }
            }
            // Precio y metodos de pago
            .price-and-payments-cont {
                // Contenedor de precio
                .price__container {
                    border-right: 1px solid $color-bordes;
                    border-left: 1px solid $color-bordes;
                }
            }
        }
    }
} 

/* --- --- Responsive 955px --- --- *//* Carrito */
@media screen and (min-width: 995px){
    // main
    main {
        // Flex Container
        .main-flex-container {
            flex-direction: row;
            justify-content: space-between;
            // Productos y Shipping
            .product-and-shipping-cont {
                flex-basis: 65.5%;
            }
            // Precio y Metodos de pago
            .price-and-payments-cont {
                flex-basis: 32%;
                // Contenedor Precio
                .price__container {
                    // Total
                    .price-container__total {
                        padding: 30px 0;
                    }
                }
            }
        }
    }
}