/* --- --- Productos Extras --- --- */
// main
main {
    // Productos Extra Container
    .extra-product-container {
        // Productos
        .extra-product {
            padding: 0 0 0 20px;
            margin: 0 0 50px 0;
            // Texto
            .extra-product__text {
                padding-right: 20px;
                margin-bottom: 27px;

                display: flex;
                justify-content: space-between;
                align-items: center;
                // titulo
                .extra-product-text__tittle {
                    color: $color-azul-oscuro;
                    font-size: 19px;
                    font-weight: 600;
                }
                // link
                .extra-product-text__see-details {
                    // anchor 
                    a {
                        color: $color-celeste;
                    }
                }
            }
            // Productos
            .extra-product__products {
                border: 1px solid $color-bordes;
                border-right: 0;

                // Contenedor de Cartas // scroll
                .extra-product__cont-cards-scroll {
                    overflow-x: scroll;

                    // Contenedor de Cartas
                    .extra-product-cont-cards {
                        display: flex;
                        flex-wrap: nowrap;
                        width: 750%;

                        border-bottom: 1px solid $color-bordes;
                        // Carta
                        .extra-product__card {
                            flex-basis: 50%;

                            background-color: $color-blanco;
                            border-right: 1px solid $color-bordes;

                            // anchor
                            .extra-product-card__anchor {
                                padding: 20px;

                                display: flex;
                                flex-direction: column;
                                // Cont. de imagen
                                .extra-product-card__cont-img {
                                    width: 100%;

                                    margin-left: auto;
                                    margin-right: auto;

                                    position: relative;

                                    padding-bottom: 100%;
                                    // imagen
                                    img {
                                        width: 100%;
                                        height: 100%;
                                        object-fit: contain;

                                        position: absolute;
                                        top: 0;
                                        right: 0;
                                        left: 0;
                                        bottom: 0;
                                        margin: auto;
                                    }
                                    // imagen hover
                                    .img-hover {
                                        opacity: 0;
                                        transition: opacity 0.1s linear;
                                    }
                                    // efecto hover
                                    &:hover {
                                        > .img-hover {
                                            opacity: 1;
                                        } 
                                    } 
                                }
                                // Nombre del producto
                                .extra-product-card__name {
                                    font-size: 15px;
                                    font-weight: 600;
                                    color: $color-azul-oscuro;

                                    margin-top: 18px;
                                    margin-bottom: 18px;

                                    transition: color 0.2s linear;
                                    // hover
                                    &:hover {
                                        color: $color-celeste;
                                    }
                                }
                                // Precio
                                .extra-product-card__price {
                                    font-size: 20px;
                                    color: $color-celeste;

                                    margin-bottom: 45px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
} 
/* --- --- Responsive Productos Extras --- --- */
/* --- --- Responsive 645px --- --- *//* Productos Extras */ 
@media screen and (min-width:645px) {
    // main
    main {
        // Conatiner
        .extra-product-container {
            // Productos Extra
            .extra-product {
                padding: 0 0 0 40px;
                // Texto
                .extra-product__text {
                    padding-right: 40px;
                }
                // Productos
                .extra-product__products {
                    // Contenedor de Cartas // scroll
                    .extra-product__cont-cards-scroll {
                        // Contenedor de Cartas
                        .extra-product-cont-cards {
                            width: 470%;

                            // Carta
                            .extra-product__card {
                                flex-basis: 30%;
                            }
                        }
                    }
                }
            }
        }
    }
}
/* --- Responsive 1000px --- *//* Productos Extras */
@media screen and (min-width:1000px) {
    // main
    main {
        // Container 
        .extra-product-container {
            // Productos Extra
            .extra-product {
                padding: 0 40px;

                // Texto
                .extra-product__text {
                    padding-right: 0;
                }

                // Productos
                .extra-product__products {
                    border: 1px solid $color-bordes;

                    // Contenedor de Cartas // scroll
                    .extra-product__cont-cards-scroll {
                        // Contenedor de Cartas
                        .extra-product-cont-cards {
                            width: 301%;

                            // Carta
                            .extra-product__card {
                                flex-basis: 50%;
                                
                                // last-child
                                &:last-child {
                                    border-right: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/* --- Responsive 1280px --- *//* Productos Extras */ 
@media screen and (min-width:1280px) {
    // main
    main {
        // Container 
        .extra-product-container {
            // Productos Extra
            .extra-product {
                // Productos
                .extra-product__products {
                    // Contenedor de Cartas // scroll
                    .extra-product__cont-cards-scroll {
                        // Contenedor de Cartas
                        .extra-product-cont-cards {
                            width: 240.5%;

                            // Carta
                            .extra-product__card {
                                flex-basis: 50%;
                            }
                        }
                    }
                }
            }
        }
    }
}